<app-main-header></app-main-header>
  <header class="header-white">
    <p>Lavori svolti</p>
  </header>
  <div class="container whiteOverlay job-container">
      <app-job *ngFor="let job of jobs" [job]="job" ></app-job>
  </div>
