<div id="jobcontainer">
  <div id="job-header">
      <img class="jobImage" [src]="getImagePath()">
      <div id="job-header-detail">
        <p id="title">{{job.title}}</p>
        <p>{{getAddress()}}</p>
        <div id="jobHeaderBottom">
          <p class="formButton_2">{{job.gender}}</p>
          <p class="formButton_2">{{job.price}} €</p>
        </div>
        <button id="favourite" *ngIf="canAddToFav()" mat-icon-button [color]="!isFavourite() ? '' : 'warn'" (click)="addFavourite()">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
  </div>
  <div id="job-body">
    {{job.description}}
  </div>
  <div id="job-footer">
    <div id="footerFirst">
      <div>
        <a [routerLink]="'/profile/'+ job.created_by.email">{{job.created_by.username}}</a>
        <p>Creato il {{job.created_date.getDate()}}/{{job.created_date.getMonth()+1}}/{{job.created_date.getFullYear()}}</p>
        <p>Scade il {{job.expiration_date.getDate()}}/{{job.expiration_date.getMonth()+1}}/{{job.expiration_date.getFullYear()}}</p>
      </div>
      <button class="formButton" id="candidate" *ngIf="canCandidate()" (click)="addCandidate()">
        {{!isCandidate() ? 'Candidati' : 'Ritira candidatura'}}
      </button>
      <button id="remove" class="formButton" *ngIf="canDelete()" (click)="deleteJob()">
        Rimuovi questa offerta
      </button>
    </div>
    <div id="footerSecond">
      <section *ngIf="!job.assigned_to; then candidates else assigned"></section>
      <ng-template #candidates>
        <p>{{job.candidates.length==0? 'Non ci sono candidati' : 'N° Candidati: ' + job.candidates.length}}</p>
        <section *ngIf=" job.created_by.email == getUserEmail()" >
          <ul *ngFor="let candidate of job.candidates">
            <li>
              <div id="candidates">
                <div id="rating">
                  <a [routerLink]="'/profile/'+ candidate.email">{{candidate.username}}</a>
                  <star-rating readOnly="true" [rating]="candidate.getRating()" [numOfStars]="5" [step]="1.0" [showHalfStars]="true"></star-rating>
                </div>
                <div class="">
                  <button class="formButton" *ngIf="canAssign()" (click)="assignJob(candidate)">Assegna</button>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </ng-template>
      <ng-template #assigned>
        <p>Assegnato a: <a [routerLink]="'/profile/'+ job.assigned_to.email">{{job.assigned_to.username}}</a></p>
        <section *ngIf="!job.ended; then canEnd  else jobEnded"></section>
        <ng-template #canEnd>
          <button class="formButton" (click)="endJob()">Lavoro completato</button>
        </ng-template>
        <ng-template #jobEnded>
          <button *ngIf="canLeaveComment()" class="formButton" (click)="leaveComment()">Lascia un commento</button>
          <button *ngIf="canMakeInvoice()" class="formButton" (click)="sendVatGov()">Carica Fattura Elettronica</button>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
