$borderRadius: 6px;

#job-header{
  display: flex;
  color: white;
  background-color: black;
  border-radius: $borderRadius $borderRadius 0px 0px;
  align-items: center;
  p{
    margin: 5px;
  }
  #title {
    font-size: 20px;
    font-weight: bold;
    padding-right: 40px;
  }
}

#job-header-detail{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 5px 0;
  width: 100%;
}

#favourite {
  position: absolute;
  right: 5px;
  top: 5px;
}

#jobHeaderBottom{
  display: flex;
  .formButton_2 {
    height: auto;
    width: auto;
    padding: 5px;
  }
}

#jobcontainer{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 2px black;
  border-radius: $borderRadius;
  min-width: 30vw;
  max-width: 350px;
  margin: 20px;
}

#job-body{
  padding: 10px;
  width: auto !important;
}

#job-footer{
    border-radius:  0px 0px $borderRadius $borderRadius;
    margin: 0 5px 5px 5px ;
    progress {
      margin: 10px 0;
      width: 100%;
      height: 8px;
    }
    a, p {
      margin: 5px;
    }
}
a, a:link, a:visited {
  font-weight: bold;
  text-decoration: none;
}

#footerFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-top: 1px solid black;

  p {
    font-size: 10px;
  }
  .formButton {
    width: auto;
    height: auto;
    color: black;
    padding: 5px;
  }
  #candidate {

  }
  #remove {
    background-color: red;
  }
}

#footerSecond {
  border-top: 1px solid black;
  button{
    width: 100%;
  }
}

.jobImage {
  width: 75px!important;
  height: 75px!important;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
  margin: 10px;
}
a, a:link, a:visited {
  color: black;
  font-size: 11pt;
}

#candidates{
  width: 100%;
  display: flex;
  justify-content: space-between;
  p {
    padding-left: 10px;
    margin: 0 !important;
    flex-grow: 1;
    font-size: 25pt;
    font-weight: bold;
    text-align: left;
  }
  button {
    width: 100%;
    min-width: 25px;
    margin: 2px;
    border: 0px;

  }
}
ul{
  padding: 0px;
  margin: 0px;
  li{
    list-style-type: none;
  }
}

#rating{
  justify-content: flex-start!important;
}
