@font-face {
    font-family: Stem;
    src: url("/assets/Font/Stem-Regular.otf") format("opentype");
}
@font-face {
    font-family: Stem;
    font-weight: bold;
    src: url("/assets/Font/Stem-Bold.otf") format("opentype");
}
