/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~css-star-rating/scss/star-rating';
@import 'vars';


* {
  font-family: Stem;
  box-sizing: border-box;
  font-size: 13pt;
}
html, body
{
    height: 100%;
    margin: 0;
}
a, a:link, a:visited {
  color: white;
  font-size: 11pt;
}

.alertContainer{
  position: fixed !important;
  margin-top: 0px;
  min-width: 50%;
  .alert {
    margin-bottom: 10px;
  }
}

body {
  background-image: url("/assets/images/background.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
}
.container, .form, .multiLineHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100% !important;
  padding: 0px !important;
}
.blackOverlay {
  min-height: 100%;
  background: $body-overlay;
  color: white;
}
.blackOverlay-dark {
  min-height: 100%;
  background: $black-background;
  color: white;
}
.whiteOverlay{
  min-height: 100%;
  background: $white-background;
}

option {
  color: black;
}

.container form > * {
  margin: 5px 0;
}

.card {
  max-width: 500px;
  margin: auto;
}

%formElement {
  height: 48px;
  width: 320px;
  border: 0px;
  border-radius: 6px;
  color: white;

  &:disabled {
    opacity: 0.2;
  }
}

.formField {
  @extend %formElement;
  background-color: $field-background;
  color: white!important;
  -webkit-appearance: none;
  &:focus {
    background-color: $field-focus-background !important;
  }
  &:invalid:focus {
    box-shadow: 0 0 5px 2px red;
  }
  &:focus + .hint {
    @extend %formElement;
    display: block;
    height: auto;
    font-size: 10px;
    margin: 2px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
  }
}
.hint {
  display: none;
}

.formButton {
  @extend %formElement;
  background-color: $button-background;
  font-weight: bold;
  margin: 2px;
  font-size: 18px;
}


.formButton_2 {
  @extend %formElement;
  background-color: transparent;
  border: 1px solid $button-background;
  font-weight: bold;
}

.formDiscard {
  @extend %formElement;
  background-color: $discard-button-background;
  font-weight: bold;
}

footer {
  display: flex !important;
  justify-content: space-between;
  margin-top: 10px;
  min-width: 100%;
}
%icon-v{
  padding-left: 40px;
  background-size: 16px 20px;
}
%icon-h{
  padding-left: 40px;
  background-size: 20px 16px;
}

@mixin iconField($basePath) {
  background: $field-background url("/assets/images/icons/" + $basePath + "-off.svg") no-repeat 10px center;
  padding-left: 40px;
  background-size: 26px 26px;
  &:focus {
    background: $field-background url("/assets/images/icons/" + $basePath + "-on.svg") no-repeat 10px center;
    background-size: 26px 26px;
  }
}

#email{
  @include iconField('mail');
}
#password{
  @include iconField('lock');
}
#password_2{
  @include iconField('lock-ok');
}
#username{
  @include iconField('username');
}
#phone_number{
  @include iconField('tel');
}
#address {
  @include iconField('street');
}
#city{
  @include iconField('city');
}
#country{
  @include iconField('country');
}
#vat{
  @include iconField('vat');
}
#zipcode{
  @include iconField('zip');
}
#description{
  @include iconField('description');
}
#gender{
  @include iconField('home-2');
}

#expiration_date{
  @include iconField('calendar');
}
#title_ico{
  @include iconField('title');
}
#price{
  @include iconField('euro');
}
#gender{
  @include iconField('gender');
}

%header{
  width: 100%;
  display: flex;
  p {
    padding-left: 10px;
    margin: 0 !important;
    flex-grow: 1;
    font-size: 25pt;
    font-weight: bold;
    text-align: left;
  }
  button {
    width: 10%;
    min-width: 25px;
    margin: 0 5px;
    border: 0px;
  }
}
.header-white {
  @extend %header;
  background: $white-background;

}
.header-black {
  @extend %header;
  background: $black-background;
  color: white;
}
.header-overlay {
  @extend %header;
  background: $body-overlay;
  color: white;
}
::placeholder, .fakePlaceholder {
  color: white;
  opacity: 1;
}
::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

.stepper {
  height: 20px !important;
  width: auto !important;
  margin-top: 20px;
}

.job-container{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
