$body-overlay: rgba(25,30,40,0.7);
$field-background: rgba(255,255,255,0.1);
$field-focus-background: rgba(255,255,255,0.3);
$white-background: rgba(255,255,255,0.9);
$black-background: rgba(25,30,40,0.9);
$button-background: #00DC73;
$discard-button-background: #FF695F
