.container p{
  color: #8C8E93;
  size: 13px;
  margin: 0px;
}

#back {
  background: url('/assets/images/icons/back-arrow.svg') no-repeat center center;
  background-size: 25px 16px;
}

#andiamo{
  margin-top: 40px;
  color: black;
}

header button {
  margin: 0px;
}

#underStepper{
  display: flex;
  width: 100%;
  p {
     text-align: center;
     margin-right: 10% !important;
  }
}
.container p {
   text-align: center;
}
