<div *ngIf="!verified; then notVerified else Verified"></div>

<ng-template #notVerified>
  <header class="header-overlay multiLineHeader">
    <img class="stepper" src="/assets/images/icons/step_2.svg">
    <div id="underStepper">
      <button id="back" (click)="back()"></button>
      <p>Conferma e-mail</p>
    </div>
  </header>
  <div class="container blackOverlay">
    <p>Abbiamo inviato un’e-mail al tuo indirizzo: <em>{{email}}</em>. </p>
    <p>Controlla la posta e clicca sul link per verificare il tuo indirizzo e-mail.</p>
    <p>(Verifica anche nella cartella spam)</p>
  </div>
</ng-template>

<ng-template #Verified>
  <header class="header-overlay multiLineHeader">
    <img class="stepper" src="/assets/images/icons/step_3.svg">
    <p>E-mail confermata</p>
  </header>
  <div class="container blackOverlay">
    <p>Ciao {{username}}!</p>
    <p>Congratulazioni! Ora puoi cercare tra le offerte di lavoro o crearne tu stesso.</p>
    <button id="andiamo"class="formButton" type="button" (click)="andiamo()">ANDIAMO</button>
  </div>
</ng-template>
