<header class="header-black multiLineHeader">
<img class="stepper" src="/assets/images/icons/step_1.svg">
  <p class="tilte">Registrati</p>
</header>
<div class="container blackOverlay-dark">

  <p>Compila tutti e campi e continua.</p>
  <div>
    <div id="user_type">
      <button (click)="disableVat()" [class]="!privateUser?'formButton_2':'formButton_2 buttonSelected'">Privati</button>
      <button (click)="enableVat()" [class]="privateUser?'formButton_2':'formButton_2 buttonSelected'">Aziende/P.IVA</button>
    </div>

    <form class="container" #registerForm="ngForm" (ngSubmit)="register()">

      <input id="username" class="formField" name="username" [(ngModel)]="username"
             placeholder="Nome Completo"
             required>

      <input type="tel" id="phone_number" name="phone_number" class="formField" [(ngModel)]="phone_number"
             placeholder="Telefono"
             required>

      <input *ngIf="!privateUser" id="vat" name="vat" class="formField" [(ngModel)]="vat"
             placeholder="Partita IVA"
             required>

      <div>
         <input class="formField" id="address" name="address" [(ngModel)]="address"
                placeholder="Via">

        <input class="formField" id="house_numbering" name="house_numbering" [(ngModel)]="house_numbering"
               placeholder="N°">
      </div>

      <div>
        <input class="formField" name="city" id="city" [(ngModel)]="city"
              placeholder="Città">

        <input class="formField" name="province" id="province" [(ngModel)]="province"
               maxlength="2"
               placeholder="Prov." title="Sigla della provincia" >

        <label for="province" class="hint">Sigla della Provincia.</label>
      </div>

      <input id="zipcode" name="zipcode" class="formField" [(ngModel)]="zipcode"
             placeholder="CAP">

      <select id="country" [class]="country ? 'formField ' : 'formField fakePlaceholder'" [(ngModel)]="country" name="country">
        <option value="undefined" disabled selected hidden>Nazione</option>
        <option *ngFor="let country of countryTree" [value]= "country">{{country}}</option>
      </select>

      <input type="email" id="email" name="email" class="formField" [(ngModel)]="email"
             placeholder="Indirizzo E-mail" title="E-Mail nel formato indirizzo@host.dominio"
             required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

      <input [type]="hide ? 'password' : 'text'" id="password" name="password" class="formField" [(ngModel)]="pwd"
             placeholder="Password"
             required pattern="(?=.*[a-z])(?=.*[A-Z]).{4,}">
      <label for="password" class="hint">Almeno 6 caratteri, con almeno un numero, una lettera maiuscola ed una minuscola.</label>

      <input [type]="hide ? 'password' : 'text'" id="password_2" name="password2" class="formField" [(ngModel)]="pwd2"
             placeholder="Conferma Password"
             required>

      <button class="formButton_2" type="submit" [disabled]="!registerForm.form.valid || pwd != pwd2">REGISTRATI</button>
    </form>

    <footer>
      <a routerLink="/login">Accedi</a>
      <a routerLink="/terms">Termini & condizioni</a>
    </footer>
  </div>
</div>

<div class="alertContainer">
  <div>
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>
