@import '../../../vars';

#user_type {
  margin-bottom: 20px;
  button{
    background: $body-overlay;
    border-radius: 6px;
    width: 50%;
    height: 24px;
    border-width: 0px;
    border-color: #FF695F;
    color: white;
  }
  .buttonSelected {
      border-width: 1px !important;
  }
}

header p {
  text-align: center;
}
.container p{
  color: #8C8E93;
  size: 13px;
  margin: 0px;
}

#address, #city{
  width: 270px;
  margin-right: 10px;
}

#house_numbering, #province {
  max-width: 40px;
  text-align: center;
}
