<app-main-header></app-main-header>
<header class="header-white">
  <p>Preferiti</p>
</header>
<div class="container whiteOverlay job-container">
    <app-job *ngFor="let job of jobs" [job]="job" ></app-job>
</div>
