<header class="header-black">
  <button id="back" (click)="back()"></button>
  <p>Recupero Password</p>
</header>

<div class="container blackOverlay-dark">
    <section *ngIf="!id; then request_reset else change_password"></section>
    <ng-template #request_reset>
      <p>Inserisci l'indirizzo e-mail dell'account del quale vuoi recuperare la password.</p>
      <form class="form" #recoveryRequestForm="ngForm" (ngSubmit)="recovery()">
        <input type="email" id="email" name="email" class="formField"
               placeholder="Indirizzo E-mail"
               required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               [(ngModel)]="email">

        <button class="formButton" type="submit" [disabled]="!recoveryRequestForm.form.valid">Recupera</button>
      </form>
    </ng-template>

    <ng-template #change_password>
      <form class="form" #recoveryForm="ngForm" (ngSubmit)="recovery()">
          <input class="formField" type="password" id="password" name="password"
              required pattern="(?=.*[a-z])(?=.*[A-Z]).{4,}"
              placeholder="Nuova password"
              [(ngModel)]="password">

         <input class="formField" type="password" id="password_2" name="password_2"
               required
               placeholder="Conferma nuova password"
              [(ngModel)]="password_2">

         <button class="formButton" type="submit" [disabled]="!recoveryForm.form.valid || password!=password_2">Modifica Password</button>
      </form>
   </ng-template>

<div class="alertContainer">
  <app-alert></app-alert>
  <router-outlet></router-outlet>
</div>
</div>
