<header class="header-black">
  <button id="back" (click)="back()"></button>
  <p>Pubblica un'offerta</p>
</header>
<div class="container blackOverlay-dark">
  <form class="container" #newJobForm="ngForm" (ngSubmit)="newJob()">
    <input id="title_ico" class="formField" name="title"
           placeholder="Titolo"
           required
           [(ngModel)]="job.title">

    <textarea id="description" class="formField" name="description"
           placeholder="Descrizione"
           required
           [(ngModel)]="job.description"></textarea>

    <input type="text" onfocus="this.type='date'" id="expiration_date" class="formField"
           name="expiration_date"
           placeholder="Data di scadenza"
           required
           [(ngModel)]="job.expiration_date">

    <select id="gender" [class]="job.gender ? 'formField ' : 'formField fakePlaceholder'" [(ngModel)]= "job.gender" name="gender">
      <option value="undefined" disabled selected hidden>Genere</option>
      <option *ngFor="let gender of genderTree" [value]= "gender">{{gender}}</option>
    </select>

    <div>
      <input class="formField" id="address" name="address"
             placeholder="Via"
             required
             [(ngModel)]="job.address_information.address">


     <input class="formField" id="house_numbering" name="house_numbering"
            placeholder="N°"
            required
            [(ngModel)]="job.address_information.house_numbering">

      </div>

      <div>
      <input class="formField" name="city" id="city"
             placeholder="Città"
             required
             [(ngModel)]="job.address_information.city">


     <input class="formField" name="province" id="province"
            placeholder="Prov."
            required
            [(ngModel)]="job.address_information.province">

    </div>

    <input id="zipcode"class="formField" name="zipcode"
           placeholder="CAP"
           [(ngModel)]="job.address_information.zipcode">

   <select id="country" [class]="job.address_information.country ? 'formField ' : 'formField fakePlaceholder'" [(ngModel)]= "job.address_information.country" name="country">
     <option value="undefined" disabled selected hidden>Nazione</option>
     <option *ngFor="let country of countryTree" [value]="country">{{country}}</option>
   </select>
    <input type="number" id="price" class="formField" name="price"
           step="0.01"
           placeholder="Prezzo"
           required
           [(ngModel)]="job.price">

    <button type="submit" class="formButton" [disabled]="!newJobForm.form.valid">PUBBLICA</button>

  </form>
</div>

<div class="container">
  <div>
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>
