.textarea {
  height: auto;
  display: block;
  resize: vertical-auto;
  width: 100%;
}

#back {
  background: url('/assets/images/icons/back-arrow.svg') no-repeat center center;
  background-size: 25px 16px;
}

#address, #city{
  width: 270px;
  margin-right: 10px;
}

#house_numbering, #province {
  max-width: 40px;
  text-align: center;
}
