@import '../../../vars';
$imgSize: 96px;

#mainMenu{
  display: none;
}

#profileEditContainer {
  background: $black-background !important;
  color: white;
  form {
    padding-top: 70px !important;
  }
  .header-black{
    background: rgba(0,0,0,0);
  }
}

#profileContainer {
  color: #191E28;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  .header-white{
    background: rgba(0,0,0,0);
  }
}

#back {
  background: url('/assets/images/icons/back-arrow.svg') no-repeat center center;
  background-size: 25px 16px;
}

#save {
  background: url('/assets/images/icons/save.svg') no-repeat center center;
  background-size: 25px 25px;
}

#edit {
  background: url('/assets/images/icons/modify-profile.svg') no-repeat center center;
  background-size: 25px 25px;
}

#logout {
  background: url('/assets/images/icons/exit.svg') no-repeat center center;
  background-size: 25px 25px;
}

.profileImage {
  width: $imgSize!important;
  height: $imgSize!important;
  border-radius: 50%;
  background-size: cover;
  object-fit: cover;
}

#imgContainter {
    position: relative;
    height: $imgSize;
    display: flex;
    justify-content: center;

    &:hover label {
      width: $imgSize;
    }
}

#changeImage {
  display: none;
}

#imgContainter label {
	background:$black-background;
  width: 0;
  height: $imgSize/2;
  border-radius:0 0 $imgSize $imgSize;
  position: absolute;
  color:white;
  bottom: 0;
  overflow: hidden;
  margin: 0px !important;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  transition: width 500ms;
}

#name{
  font-size: 19px;
  font-weight: bold;
}

#address-header{
 font-size: 11px;
 color: #A3A5A9;
}

#userinfo{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center
}

#address, #city{
  width: 270px;
  margin-right: 10px;
}

#house_numbering, #province {
  max-width: 40px;
  text-align: center;
}

#comments {
  border-top: 1px solid $body-overlay;
  margin-top: 20px;
  padding-top: 0px !important;
  display: flex;
  width: 90%;
  > div {
    width: 90%;
  }
  p {
    width: 90%;
  }
  #comment {
    width: 90%;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px 2px black;
  }
  header {
    padding: 10px;
    border-radius: 6px 6px 0 0;
  }
  #text {
    padding: 10px;
    border-radius: 0 0 6px 6px;
  }
}
