<div class="container whiteOverlay" *ngIf=!modifyInformation>
  <app-main-header></app-main-header>
  <div id="profileContainer">
      <header class="header-white">
        <p>Profilo</p>
        <button id="edit" (click)="modify()" *ngIf="canModify" title="Modifica informazioni"></button>
      </header>
      <div id="userinfo">
        <img class="profileImage" [src]="userService.getImagePath(user)">
        <div>
            <p id="name">{{user.username}}</p>
            <p>{{user.email}}</p>
            <p>{{user.phone_number}}</p>
            <p id="address-header">
              {{getAddress()}} - {{user.address_information.zipcode}} - {{user.address_information.country}}
            </p>
            <p *ngIf="!user.vat">{{user.vat}}</p>

            <star-rating readOnly="true"
              [labelText]="user.getRating()" labelPosition="right"
              [rating]="user.getRating()" [numOfStars]="5" [showHalfStars]="true"></star-rating>
        </div>
      </div>
  </div>
  <div id="comments" class="container" >
    <p>Feedback ricevuti</p>
    <div *ngFor="let fb of user.feedbacks">
      <div *ngIf="fb.comment" id="comment">
        <header class="header-black">
          {{fb.writer}}
        </header>
        <div id="text">
          <p>{{fb.comment}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="profileEditContainer" class="container blackOverlay" *ngIf="modifyInformation">
  <header class="header-black">
    <button id="back" (click)="cancelModify()"></button>
    <p>Modifica profilo</p>
    <button id="save" (click)="modifyUser()" title="Salva modifiche"></button>
  </header>
  <div>
    <form class="form" #modifyInformation="ngForm" (ngSubmit)="modifyUser()">
      <div id="imgContainter">
        <img class="profileImage" [src]="loaded_image || userService.getImagePath(editedUser)">
        <input type="file" (change)="profileImage($event)" id="changeImage"/>
        <label for="changeImage">Cambia</label>
      </div>
      <input id="username" class="formField" name="username"
             placeholder="Nome Completo"
             required
             [(ngModel)]="editedUser.username">

      <input id="phone_number" class="formField" name="phone_number" type="tel"
             placeholder="Telefono"
             [(ngModel)]="editedUser.phone_number">

      <input id="vat" class="formField" name="vat"
             placeholder="Partita IVA"
             *ngIf="user.vat"
             [(ngModel)]="editedUser.vat">

      <input id="password" class="formField" name="password"
             placeholder="Password"
             required
             [type]="hide ? 'password' : 'text'"
             [(ngModel)]="newPassword">
      <div>
        <input class="formField" id="address" name="address"
               placeholder="Via"
               [(ngModel)]="editedUser.address_information.address">

       <input class="formField" id="house_numbering" name="house_numbering"
              placeholder="N°"
              [(ngModel)]="editedUser.address_information.house_numbering">

      </div>
      <div>
          <input class="formField" name="city" id="city"
               placeholder="Città"
               [(ngModel)]="editedUser.address_information.city">

          <input class="formField" name="province" id="province"
              placeholder="Prov."
              [(ngModel)]="editedUser.address_information.province">
      </div>
      <input id="zipcode" class="formField" name="zipcode"
         placeholder="CAP"
         [(ngModel)]="editedUser.address_information.zipcode">

      <select id="country"[class]="editedUser.address_information.country ? 'formField ' : 'formField fakePlaceholder'" [(ngModel)]= "editedUser.address_information.country" name="country">
         <option value="undefined" disabled selected hidden>Nazione</option>
         <option *ngFor="let country of countryTree" [value]="country">{{country}}</option>
       </select>

      <button class="formButton" type="submit">MODIFICA</button>
    </form>
  </div>

  <div class="alert">
    <div>
      <app-alert></app-alert>
      <router-outlet></router-outlet>
    </div>

</div>
