<div class="container blackOverlay" >
  <div id="imageContainer">
    <img src="/assets/images/logo.svg" alt="">
  </div>
  <div id="homeContainer">
    <form class="form" #loginForm="ngForm" (ngSubmit)="login()">
        <input id="email" class="formField" type="email" name="email"
               required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               placeholder="Indirizzo E-mail"
               [(ngModel)]="email">

        <input id="password" class="formField"  [type]="hide ? 'password' : 'text'" name="password"
               required
               placeholder="Password"
               [(ngModel)]="password">
      <button type="submit" class="formButton" [disabled]="!loginForm.form.valid">ACCEDI</button>
    </form>

    <footer >
      <a id="linkRegister" routerLink="/register" routerLinkActive="active">Registrati</a>
      <a id="linkHelp" routerLink="/password-recovery/" routerLinkActive="active">Hai dimenticato la password?</a>
    </footer>
  </div>
  <div class="alertContainer">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
  </div>
</div>
