@import '../../../vars';

#imageContainer {
  display: flex;
  flex-grow:1;
  align-items: center;
  background: rgba(255, 255, 255, 0) url("/assets/images/icons/svg/Logo.svg") no-repeat 10px center;
  background-size: auto;
}

#homeContainer {
  margin: 10px;
}

img{
  height: 64px;
  width: 190px !important;
}
