
.textarea {
  height: auto;
  display: block;
  resize: vertical-auto;
  width: 100%;

}

#comment{
  font-size: large;
}

#back {
  background: url('/assets/images/icons/back-arrow.svg') no-repeat center center;
  background-size: 25px 16px;
}

#save {
  background: url('/assets/images/icons/save.svg') no-repeat center center;
  background-size: 25px 25px;
}
