<div class="container blackOverlay-dark">

  <header class="header-black">
    <button id="back" (click)="back()"></button>
    <p>Feedback</p>
    <button id="save" (click)="SendRate()"></button>
  </header>

<p>Il feedback è destinato a:  {{target}}</p>

<form class="container" (ngSubmit)="SendRate()">
  <textarea id="comment" class="formField"
         [(ngModel)]="comment"
         name="comment">Scrivi il tuo commento qui...</textarea>

<p>Comunicazione</p>
<star-rating id="star1" (ratingChange)="onComRatingChange($event)"
   [rating]="communication" [numOfStars]="5" [step]="1.0" [showHalfStars]="true"></star-rating>

<p>Puntualità</p>
<star-rating (ratingChange)="onPunctatingChange($event)"
     [rating]="punctuality" [numOfStars]="5" [step]="1.0" [showHalfStars]="true"></star-rating>

<p>Professionalità</p>
<star-rating (ratingChange)="onProRatingChange($event)"
    [rating]="professionalism" [numOfStars]="5" [step]="1.0" [showHalfStars]="true"></star-rating>
  <button type="submit" class="formButton">LASCIA COMMENTO</button>
</form>

</div>
