<div class="container blackOverlay-dark" id="terms">

	<p class="subTitle"> Benvenuto in Jobby </p>
	<p> Questi termini e condizioni delineano le regole e i regolamenti per l'utilizzo del sito web di Jobby. </p>
	<p>Jobby si trova in Viale Marconi 222, CESENA (FC) - 47500, Italia</p>
	<p>
		Accedendo a questo sito Web si presuppone che accetti questi termini e condizioni per intero.
		Non continuare a utilizzare il sito Web di Jobby se non si accettano tutti i termini e le condizioni indicati in questa pagina.
	</p>
	<p>
		La seguente terminologia si applica ai presenti Termini e condizioni, Informativa sulla privacy e Avviso di non responsabilità
		e qualsiasi o tutti gli Accordi: "Cliente", "Tu" e "Tuo" si riferiscono a te, la persona che accede a questo sito web
		e accetta i termini e le condizioni della Società.
		"La Compagnia", "Noi Stessi", "Noi", "Nostro" e "Noi", si riferisce alla nostra compagnia.
		"Parte", "Parti" o "Noi", si riferisce sia al Cliente che a noi stessi o al Cliente o noi stessi.
		Tutti i termini si riferiscono all'offerta, accettazione e considerazione del pagamento necessario per intraprendere
		il processo della nostra assistenza al Cliente nel modo più appropriato, sia attraverso incontri formali
		di una durata prestabilita, o qualsiasi altro mezzo, con il preciso scopo di soddisfare le esigenze del Cliente in relazione
		di fornitura dei servizi/prodotti dichiarati dalla Società, in conformità e in conformità con la legge vigente in Italia.
		Qualsiasi uso della terminologia di cui sopra o altre parole al singolare, al plurale,
		capitalizzazione e/o lui/lei o loro, sono considerati come intercambiabili e quindi come riferiti allo stesso. </p>

		<p class="subTitle">Cookie</p>
		<p>
			Utilizziamo i cookie.
			Utilizzando il sito web di Jobby acconsenti all'utilizzo dei cookie in conformità con la politica sulla privacy di Jobby.
		</p>
		<p>
			La maggior parte dei moderni siti web interattivi utilizza i cookie per permetterci di
			recuperare i dettagli dell'utente ad ogni visita.
			I cookie sono utilizzati in alcune aree del nostro sito per abilitare le funzionalità di
			queste aree e facilitare l'uso per chi le visita.
		</p>

		<p class="subTitle"> Licenza </p>
		<p>
			Salvo diversa indicazione, Jobby e/o i suoi licenzianti detengono i diritti di proprietà
			intellettuale per tutto il materiale su Jobby.
			Tutti i diritti di proprietà intellettuale sono riservati.
			È possibile visualizzare e/o stampare pagine da https://unibo.loool.io per uso personale soggette
			alle restrizioni stabilite in questi termini e condizioni.
		</p>
	<p>Non devi:</p>
	<ol>
		<li> Ripubblicare materiale da https://unibo.loool.io </li>
		<li> Vendere, affittare o concedere in licenza materiale da https://unibo.loool.io </li>
		<li> Riprodurre, duplicare o copiare materiale da https://unibo.loool.io </li>
	</ol>
	<p> Ridistribuire il contenuto da Jobby (a meno che il contenuto non sia specificamente creato per la ridistribuzione). </p>

	<p class="subTitle"> Riserva dei diritti </p>
	<p>
		Ci riserviamo il diritto in qualsiasi momento e a sua esclusiva discrezione di richiedere di rimuovere
		tutti i collegamenti o qualsiasi collegamento particolare al nostro sito Web.
		L'utente accetta di rimuovere immediatamente tutti i collegamenti al nostro sito Web su tale richiesta.
		Ci riserviamo inoltre il diritto di modificare questi termini e condizioni e la sua politica di collegamento in qualsiasi momento.
		Continuando a collegarsi al nostro sito Web, l'utente accetta di essere vincolato e rispettare questi termini e condizioni di collegamento.
	</p>

	<p class="subTitle"> Rimozione di collegamenti dal nostro sito Web </p>
	<p>
		Se si trova un collegamento sul nostro sito Web o qualsiasi sito Web collegato discutibile per qualsiasi motivo,
		è possibile contattarci in merito.
		Prenderemo in considerazione le richieste di rimuovere link, ma non avremo alcun obbligo di farlo o di rispondere direttamente a voi.
	</p>
	<p>
		Nonostante ci sforziamo di assicurare che le informazioni su questo sito Web siano corrette,
		non garantiamo la sua completezza o precisione, né ci impegniamo a garantire che il sito rimanga
		disponibile o che il materiale sul sito web sia aggiornato.
	</p>

	<p class="subTitle"> Responsabilità del contenuto </p>
	<p>
		Non ci assumeremo alcuna responsabilità per alcun contenuto apparendo sul tuo sito Web.
		Accetti di indennizzare e difenderci da qualsiasi pretesa derivante da o basata sul tuo sito web.
		Nessun link può apparire su qualsiasi pagina del tuo sito Web o in qualsiasi contesto contenente contenuti
		o materiali che possono essere interpretati come diffamatori, osceni o criminali o che violano, altrimenti
		violano o sostengono la violazione o altra violazione di diritti di terzi.
	</p>

	<p class="subTitle"> Declinazione di responsabilità </p>
	<p>
		Nella misura massima consentita dalla legge applicabile, escludiamo tutte le dichiarazioni,
		garanzie e condizioni relative al nostro sito Web e all'uso di questo sito Web
		(incluso, senza limitazione, qualsiasi garanzia implicita dalla legge in merito a qualità soddisfacente, idoneità allo scopo e/o l'uso di ragionevole cura e abilità).
	</p>
</div>
