@import '../../../vars';
@mixin iconField($basePath) {
  background: $white-background url("/assets/images/icons/" + $basePath + ".svg") no-repeat center center;
  background-size: 26px 26px;
  min-width: 26px;
}

:host {
  width: 100%;
}

#filler {
  height: 70px;
}

#main-header{
  position: fixed;
  display: flex;
  border-bottom: 1px solid $black-background;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;

  button {
    height: 100%;
    border: 0px;
    flex-grow: 1;
  }
}

#home{
  @include iconField('home');
}

#newjob{
  @include iconField('plus');
  background-size: 45px 45px;
  min-width: 45px;
}

#profile{
  @include iconField('profile');
}

#oldjobs{
  @include iconField('oldjobs');
}

#assigned-to-me{
  @include iconField('assigned');
}

#favourites{
  @include iconField('favourites');
}

#exit{
  @include iconField('exit');
}
