<div id="main-header">
  <button type="button" id="home" [routerLink]="['/home']" title="Home"></button>
  <button type="button" id="profile" [routerLink]="['/profile/'+getUseremail()]" title="Profilo"></button>
  <button type="button" id="oldjobs" [routerLink]="['/oldjobs']" title="Storico"></button>
  <button type="button" id="newjob" [routerLink]="['/newjob']" title="Pubblica un'offerta"></button>
  <button type="button" id="assigned-to-me" [routerLink]="['/assigned-to-me']" title="Lavori svolti"></button>
  <button type="button" id="favourites" [routerLink]="['/favourites']" title="Preferiti"></button>
  <button *ngIf="isLogged()" type="button" (click)="logout() "id="exit" [routerLink]="['/']" title="Logout"></button>
</div>
<div id="filler"></div>
